<h1>All the cat_rental_requests!</h1>

<ul>
  <% @cat_rental_requests.each do |cat| %>
  <li> <%= cat.cat.name %> </li>
  <li> <%= cat.start_date %> </li>
  <li> <%= cat.end_date %> </li>
  <li> <a href="<%= cat_rental_request_url(cat) %>">Show Cat Rental Request</a> </li>
    <% end %>
</ul>